@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* base styles */
body {
  background: #eee;
  font-family: "Roboto";
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  background: #36cca2;
  padding: 10px;
  border-radius: 10px;
}

form {
  max-width: 500px;
}

input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: "Roboto";
}

textarea {
  min-height: 200px;
}

.post {
  padding: 16px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}

.post h2 {
  margin: 0;
}

.post a {
  color: #39b491;
  text-decoration: none;
}

.post a:hover{
  color: aqua;
}

.delete{
  background-color: #36cca2;
  color: #fff;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

.delete:hover{
  background-color:cadetblue;
}
